body {
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
  /*background: url("https://i.ytimg.com/vi/_GvgBSAKq4Q/maxresdefault.jpg") no-repeat center center fixed;
  background-size: cover;*/
}

h1, h2, h3, h4, h5, h6 {
  /*color: #fff;*/
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
}

#main {
  margin-top: 8em;
}

.home h1 {
  margin-bottom: 20px;
}

.home h4 {
  margin-bottom: 30px;
}
